@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  margin: 0;
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
  width: 100vw;
}
